# IS 362 - Project 3

## Objective
The objective of this project is to combine information from a number of SQL tables, then display it in a pandas DataFrame.

First I installed the "mysql-connector-python" package to connect MySQL.

In [3]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /home/lb24370531/.local/lib/python3.8/site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

Next I imported the MySQL connector and pandas.

In [4]:
from mysql import connector
import pandas as pd

Then I established a connection to the database in MySQL.

In [5]:
# establish connection
connection = connector.connect(host="localhost", database = 'Chinook',user="root", passwd="cUny$p$_7")
    #query = "Select * from studentdetails;"
    #result_dataFrame = pd.read_sql(query,mydb)
    #mydb.close() #close the connection

After establishing a connection I wrote a SQL query to obtain the required information (i.e., Customer's Last Name, First Name, each customer's purchased Track names and Album Titles sorted by Customer LastName then Customer FirstName).

In [6]:
query = """select c.LastName, c.FirstName, t.Name, a.Title
FROM Customer c
INNER JOIN Invoice i on c.CustomerId = i.CustomerId
INNER JOIN InvoiceLine il on i.InvoiceId = il.InvoiceId
INNER JOIN Track t on il.TrackId = t.TrackId
INNER JOIN Album a on t.AlbumId = a.AlbumId
ORDER BY c.LastName, c.FirstName"""

Lastly, I created a pandas DataFrame to display the information.

In [7]:
# save qvuery to a DataFrame
df = pd.read_sql(query, connection)

In [9]:
# print DataFrame
df

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas
...,...,...,...,...
2235,Zimmermann,Fynn,Nothin' To Lose,Unplugged [Live]
2236,Zimmermann,Fynn,Since I've Been Loving You,BBC Sessions [Disc 2] [Live]
2237,Zimmermann,Fynn,Going To California,BBC Sessions [Disc 2] [Live]
2238,Zimmermann,Fynn,We're Gonna Groove,Coda
2239,Zimmermann,Fynn,Ozone Baby,Coda